body{
  margin: 0;
  text-align: center;
  background-color: #f1f3f8;
}
p{
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
  margin-bottom: 0;
}
h1{
  font-family: 'Libre Baskerville', serif;
  margin: 70px auto 50px;
  font-size: 3.5rem;
  color: #0fabbc;
}
a{
  color: #1a1c20;
  margin: 20px;
  text-decoration: none;
  display: inline-inline-block;
}
a:hover{
  color: #f1f3de;
}
h3{
  font-family: 'Libre Baskerville', serif;
  font-size: 2.2rem;
  color: #132743;
}
hr{
  border: 10px dotted black;
  border-bottom: 0;
  width: 10%;
  border-color: #f57b51;
 }

 #name{
   color: #010101;
   font-family: 'Dancing Script', cursive;
   font-size: 90px;
   margin-top: 0;
   margin: 0 auto;
 }

.my-skills{
  margin-top: 120px;
}
.sub-heading{
  font-family: 'Libre Baskerville', serif;
  font-size: 23px;
}
.mountain{
  width: 25%;
  margin: 0;
}
.main{
  background-color: #cbeaed;
  position: relative;
  margin: 0;
  padding-top:150px;
}
.sun{
  width: 100px;
  position: absolute;
  right: 450px;
  top: 450px;
}
.sree{
  width: 20%;
  margin-top: 80px;
}
.persnol-info{
  font-size: 1.2rem;
  width: 60%;
  margin: 0 auto;
}
.skills{
  margin-top: 20px;
}
.skills-row{
  width: 60%;
  margin: 90px auto 200px;
  text-align: left;
}
.skills-row-2{
  width: 60%;
  margin: 90px auto 160px;
  text-align: left;
}
.dance-info{
  margin: 50px auto 0;
  margin-bottom: 100px;
  font-size: 1.7rem;
  font-family: 'Nunito', sans-serif;
}
.elearn-info{
  margin: 50px auto;
  margin-bottom: 50px;
  font-size: 1.7rem;
  font-family: 'Nunito', sans-serif;
}
.elearn{
  width: 25%;
  float: left;
  margin-right: 50px;
}
.dance{
  width: 25%;
  float: right;
  margin-left: 50px;
}
.final-1{
  font-size: 2rem;
  font-family: 'Nunito', sans-serif;
  margin: 10px auto ;
  color: #0fabbc;
}
.final-2{
  font-size: 1.8rem;
  font-family: 'Nunito', sans-serif;
  margin: 80px auto 0;
  width: 50%;
  color: #132743;
}
.Get{
  margin-top: 130px;
  margin-bottom: 30px;
}
.contact-me {
   background: #1B77E1;
   background-image: -webkit-linear-gradient(top, #1B77E1, #292E36);
   background-image: -moz-linear-gradient(top, #1B77E1, #292E36);
   background-image: -ms-linear-gradient(top, #1B77E1, #292E36);
   background-image: -o-linear-gradient(top, #1B77E1, #292E36);
   background-image: linear-gradient(to bottom, #1B77E1, #292E36);
   -webkit-border-radius: 67px;
   -moz-border-radius: 67px;
   border-radius: 67px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 34px;
   font-weight: 700;
   padding: 40px;
   box-shadow: 1px 1px 20px 0px #000000;
   -webkit-box-shadow: 1px 1px 20px 0px #000000;
   -moz-box-shadow: 1px 1px 20px 0px #000000;
   text-shadow: -1px 3px 0px #000000;
   border: solid #337FED 0px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 100px  auto 100px;
}

.contact-me:hover {
   border: solid #364363 2px;
   background: #3E4045;
   background-image: -webkit-linear-gradient(top, #3E4045, #19324D);
   background-image: -moz-linear-gradient(top, #3E4045, #19324D);
   background-image: -ms-linear-gradient(top, #3E4045, #19324D);
   background-image: -o-linear-gradient(top, #3E4045, #19324D);
   background-image: linear-gradient(to bottom, #3E4045, #19324D);
   -webkit-border-radius: 73px;
   -moz-border-radius: 73px;
   border-radius: 73px;
   text-decoration: none;
}
.footer{
  background-color: #709fb0;
  font-size: 2rem;
  padding: 1rem;
}
.a{
  margin: 0;
  font-size: 1rem;
  color: white;
}
.flaticon{
  font-size: 1rem;
  line-height: 2;
  margin: 30px 10px 0;
}
.description{
  margin-bottom: 100px;
}
